/*
Syntax error: Undefined mixin 'single-text-shadow'.
        on line 28 of C:/xampp/htdocs/playground/relationbook/lib/style.scss, in `single-text-shadow'
        from line 28 of C:/xampp/htdocs/playground/relationbook/lib/style.scss

Backtrace:
C:/xampp/htdocs/playground/relationbook/lib/style.scss:28:in `single-text-shadow'
C:/xampp/htdocs/playground/relationbook/lib/style.scss:28
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
org/jruby/RubyKernel.java:2080:in `send'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:238:in `visit_rule'
org/jruby/RubyKernel.java:2080:in `send'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2080:in `send'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2080:in `send'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/tree/root_node.rb:20:in `render'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/engine.rb:300:in `_render'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/common/sass-3.1.19/lib/sass/../sass/engine.rb:247:in `render'
src/compass_patch.rb:154:in `compile'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:153:in `compile'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:152:in `compile'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:73:in `run_callback'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:55:in `callback_action'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:35:in `update'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1615:in `each'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:37:in `modified'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:18:in `refresh'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1615:in `each'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1410:in `loop'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/polling.rb:15:in `run'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm/monitor.rb:26:in `run'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/jruby/fssm-dbb37bba/lib/fssm.rb:20:in `monitor'
src/compass_patch.rb:52:in `perform'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
C:/Users/alex.volkov/Downloads/fire.app.windows.201206061500-/fire.app/lib/ruby/compass_0.12/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:598:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'single-text-shadow'.\A         on line 28 of C:/xampp/htdocs/playground/relationbook/lib/style.scss, in `single-text-shadow'\A         from line 28 of C:/xampp/htdocs/playground/relationbook/lib/style.scss"; }
